@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
}

html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

main {
  min-width: 375px;
  max-width: 700px;
  padding: 0 2em;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "logo"
    "hero"
    "pageContent";
}

/* logo */
.logo {
  grid-area: logo;
  padding: 1.8em 0;
  text-align: left;
}

.logo img {
  height: 1.3em;
}

/* hero */
.hero {
  grid-area: hero;
  background-image: url("./images/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 -2em;
  padding-top: 66.67%;
  width: 100vw;
  max-width: 700px;
}

/* pageContent */
.pagContent {
  grid-area: pageContent;
}

.content-heading {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  font-size: 2.5em;
  margin: 1.5em 0 0.5em;
}

.content-heading span:nth-child(1) {
  color: var(--Desaturated-Red);
  font-weight: 300;
}

.content-heading span:nth-child(2) {
  color: var(--Dark-Grayish-Red);
}

.content-para {
  color: var(--Desaturated-Red);
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 2em;
}

/* form */
form {
  position: relative;
}

.email-div {
  margin: 1px;
  border: 1px solid var(--Desaturated-Red);
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form.error .email-div{
  border: 2px solid var(--Soft-Red);
}

#email {
  width: 100%;
  height: 45px;
  padding: 0 9em 0 2em;
  background-color: transparent;
  border: none;
}

#email:focus {
  background-color: transparent;
}

#email:-webkit-autofill {
  transition: background-color 5000s;
  -webkit-fill-color: transparent;
}

#email::placeholder {
  font-family: "Josefin Sans", sans-serif;
  color: var(--Desaturated-Red);
  opacity: 0.5;
}

.error-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

form.error .error-img {
  visibility: visible;
  opacity: 1;
}

.submit-btn {
  height: 100%;
  width: 65px;
  border-radius: 45px;
  border: none;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 20px 20px hsla(0, 36%, 70%, 0.35);
}

.submit-arrow {
  pointer-events: none;
}

.submit-arrow:hover {
  transform: scale(1.1);
}

.error-msg {
  position: absolute;
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  padding: 1em 2em;
  color: var(--Soft-Red);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

form.error .error-msg {
  visibility: visible;
  opacity: 1;
}

/* attribution */
.attribution {
  font-size: 11px;
  padding: 5em 0 1em;
}

.attribution a {
  color: var(--Desaturated-Red);
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  body {
    background-image: none;
  }
  main {
    min-height: 100vh;
    min-width: unset;
    max-width: unset;
    padding: unset;
    text-align: left;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 42.5%;
    grid-template-areas:
      "logo hero"
      "pageContent hero";
    background-image: url("./images/bg-pattern-desktop.svg"),
      linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-size: 57.5% 100%;
  }
  .logo {
    padding: 4em 10.3em 0;
  }
  .logo img {
    height: 2em;
  }
  .hero {
    background-image: url("./images/hero-desktop.jpg");
    margin: unset;
    padding-top: unset;
    width: unset;
    max-width: unset;
  }
  .pageContent {
    padding: 0 10.3em;
  }
  .content-heading {
    font-size: 4em;
    margin: 2em 0 0.3em;
  }
  .content-heading span:nth-child(2) {
    line-height: 1.2;
  }
  .content-para {
    font-size: 1.1em;
  }
  #email {
    height: 55px;
    padding: 0 12em 0 2em;
  }
  #email::placeholder {
    font-size: 1.2em;
  }
  .error-img {
    right: 120px;
  }
  .submit-btn {
    width: 100px;
  }
  .error-msg {
    font-size: 0.9em;
  }
}
